---
---

<!DOCTYPE html>
<html>
  <head>
    {% include head-tags.html %}
  </head>

  <body class="sub_page">
    <div class="hero_area">
      <div class="hero_bg_box">
        <div class="bg_img_box">
          <img src="/images/hero-bg.png" alt="" />
        </div>
      </div>

      <!-- header section strats -->
      <header
        class="header_section"
        style="background-image: url('images/chbg2.png')"
      >
        <div class="container-fluid">
          <nav class="navbar navbar-expand-lg custom_nav-container">
            <a class="navbar-brand" href="index.html">
              <img
                src="/images/logo_bcc.png"
                alt="Bangalore Chess Club Logo"
                class="logo-img"
              />
              <!--            <span>-->
              <!--              Bangalore Chess Club-->
              <!--            </span>-->
            </a>

            <button
              class="navbar-toggler"
              type="button"
              data-toggle="collapse"
              data-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent"
              aria-expanded="false"
              aria-label="Toggle navigation"
            >
              <span class=""> </span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav">
                <li class="nav-item">
                  <a class="nav-link" href="index.html">Home </a>
                </li>
                <li class="nav-item active">
                  <a class="nav-link" href="about.html">
                    chess connect <span class="sr-only">(current)</span>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="team.html">spotlight</a>
                </li>

                <li class="nav-item">
                  <a class="nav-link" href="gallery.html">Gallery</a>
                </li>
              </ul>
            </div>
          </nav>
        </div>
      </header>
      <!-- end header section -->
    </div>

    <!-- slider section -->
    <section
      class="events_section layout_padding"
      style="background-image: url('images/chbg2.png')"
    >
      <section class="slider_section">
        <div id="customCarousel1" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="container">
                <div class="row">
                  <div class="col-md-6">
                    <div class="detail-box">
                      <h1>
                        Upcoming <br />
                        chess connect
                      </h1>
                      <p>
                        <i class="fa fa-calendar fa-2x"></i>
                        <span class="ml-2 lead font-weight-bold"
                          >Sunday 17th September</span
                        >
                      </p>
                      <p>
                        <i class="fa fa-clock-o fa-2x"></i>
                        <span class="ml-2 lead font-weight-bold"
                          >10am to 1pm</span
                        >
                      </p>
                      <p>
                        <i class="fa fa-map fa-2x"></i>
                        <span class="ml-2 lead font-weight-bold">
                          <a
                            class="text-light"
                            href="https://google.com"
                            target="_blank"
                            style="text-decoration: underline"
                            >Lahe Lahe</a
                          >
                        </span>
                      </p>
                      <div class="btn-box">
                        <a href="" class="btn1"> Register Here </a>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="img-box">
                      <img
                        src="/images/WhatsApp Image 2023-10-16 at 12.58.21 PM.png"
                        alt=""
                      />
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="carousel-item">
              <div class="container">
                <div class="row">
                  <div class="col-md-6">
                    <div class="detail-box">
                      <h1>
                        Upcoming <br />
                        chess connect
                      </h1>
                      <p>
                        <i class="fa fa-calendar fa-2x"></i>
                        <span class="ml-2 lead font-weight-bold"
                          >Sunday 17th September</span
                        >
                      </p>
                      <p>
                        <i class="fa fa-clock-o fa-2x"></i>
                        <span class="ml-2 lead font-weight-bold"
                          >10am to 1pm</span
                        >
                      </p>
                      <p>
                        <i class="fa fa-map fa-2x"></i>
                        <span class="ml-2 lead font-weight-bold">
                          <a
                            class="text-light"
                            href="https://google.com"
                            target="_blank"
                            style="text-decoration: underline"
                            >Lahe Lahe</a
                          >
                        </span>
                      </p>
                      <div class="btn-box">
                        <a href="" class="btn1"> Register Here </a>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="img-box">
                      <img
                        src="/images/WhatsApp Image 2023-10-16 at 12.58.21 PM.png"
                        alt=""
                      />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="container">
                <div class="row">
                  <div class="col-md-6">
                    <div class="detail-box">
                      <h1>
                        Upcoming <br />
                        Chess connect
                      </h1>
                      <p>
                        <i class="fa fa-calendar fa-2x"></i>
                        <span class="ml-2 lead font-weight-bold"
                          >Sunday 17th September</span
                        >
                      </p>
                      <p>
                        <i class="fa fa-clock-o fa-2x"></i>
                        <span class="ml-2 lead font-weight-bold"
                          >10am to 1pm</span
                        >
                      </p>
                      <p>
                        <i class="fa fa-map fa-2x"></i>
                        <span class="ml-2 lead font-weight-bold">
                          <a
                            class="text-light"
                            href="https://google.com"
                            target="_blank"
                            style="text-decoration: underline"
                            >Lahe Lahe</a
                          >
                        </span>
                      </p>
                      <div class="btn-box">
                        <a href="" class="btn1"> Register here </a>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="img-box">
                      <img
                        src="/images/WhatsApp Image 2023-10-16 at 12.58.21 PM.png"
                        alt=""
                      />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <ol class="carousel-indicators">
            <li
              data-target="#customCarousel1"
              data-slide-to="0"
              class="active"
            ></li>
            <li data-target="#customCarousel1" data-slide-to="1"></li>
            <li data-target="#customCarousel1" data-slide-to="2"></li>
          </ol>
        </div>
      </section>
    </section>
    <!-- end slider section -->

    <!-- end about section -->

    {% include bottom.html %} {% include footer.html %} {% include scripts.html
    %}
  </body>
</html>
