---
---

<!DOCTYPE html>
<html lang="en">
  <head>
    {% include head-tags.html %} {% include head.html %}
  </head>

  {% include ga.html %}

  <body>
    {% include header.html %}

    <div class="event-container">
      <div class="banner">
        <img src="/images/Checkmate-Park.jpg" alt="Event Banner" />
      </div>

      <div class="text-container">
        <div class="event-header">
          <h1 class="event-title">Checkmate Park</h1>
        </div>

        <div class="date-time-container">
          <div class="date-time">
            <span class="date">9th March</span>
            <span class="separator"> | </span>
            <span class="time">10:00 AM - 1:00 PM</span>
          </div>
        </div>
        <br />

        <div class="event-section">
          <h2>Event Details:</h2>
          <p>
            In a unique collab between Bangalore Chess Club, Spinny and
            Chesscom: We are proud to bring to you,
            <strong style="color: #cc5500">Checkmate Park!</strong>

            Super fun chess in the Spinny Park in a new and exciting format!
          </p>
        </div>

        <div class="event-section">
          <h2>What's Included:</h2>
          <ul>
            <li>3 Hours of <strong>Exciting Chess</strong></li>
            <li>Food and Beverage</li>
            <li>
              <strong style="color: #cc5500">Certificates and Prizes</strong> to
              the Winners
            </li>
          </ul>
        </div>

        <div class="event-section">
          <h2>Game Variations:</h2>
          <ul>
            <li>
              <strong>Standard Chess:</strong> 5 Rounds of Swiss Chess followed
              by a Semi Final and Finale! All games will be 5+3 Blitz
            </li>
            <!--                <li><strong>Hand & Brain Chess:</strong> Team up with a partner in this intriguing chess variant where one player becomes the "Brain" and selects a piece type to be moved, while the other player becomes the "Hand" and must execute the chosen moves. It's a test of teamwork, strategy, and communication.</li>-->
            <!--                <li><strong>Bughouse Chess (Supply Chess):</strong> Brace yourselves for the fast-paced action of Bughouse Chess. Work with a teammate on two chessboards, share captured pieces, and unleash your combined tactical prowess. It's a dynamic chess experience like no other.</li>-->
          </ul>
        </div>

        <!--        <div class="event-section">-->
        <!--            <h2>Is Chess Experience Required?</h2>-->
        <!--            <p>Absolutely not! Whether you're a beginner or an experienced player, "Coffee and Checkmate" welcomes everyone. This is an opportunity to have fun, learn from others, and experience chess in its various forms.</p>-->
        <!--        </div>-->

        <div class="location-section">
          <div class="location-details">
            <h2>Event Location</h2>
            <p>
              <span class="cafe-name">Spinny Park</span><br />Jala Hobli,
              Airport Road, Yelahanka, Bengaluru, India
            </p>
          </div>
          <a
            href="https://maps.app.goo.gl/1UUhvinQ9gzfMpwWA"
            target="_blank"
            class="google-map-link"
            >View on Google Maps</a
          >
        </div>

        <div class="button-container">
          <div class="register-now-button-container">
            <!-- Register Now Button -->
            <a
              href="https://docs.google.com/forms/d/e/1FAIpQLScs51wcZCOTb5BAkObGklN15L139xG1v72oZlzvbMXKkOvlFw/viewform?embedded=true"
              target="_blank"
              class="register-now-button"
              >Register Now</a
            >
          </div>
        </div>
      </div>
    </div>
    <div class="fixed-footer">
      <div class="footer-price"><strong>Free Event</strong></div>
      <div class="register-now-button-container">
        <!-- Register Now Button -->
        <a
          href="https://docs.google.com/forms/d/e/1FAIpQLScs51wcZCOTb5BAkObGklN15L139xG1v72oZlzvbMXKkOvlFw/viewform?embedded=true"
          target="_blank"
          class="register-now-button"
          >Register Now</a
        >
      </div>
    </div>

    {% include bottom.html %} {% include footer.html %} {% include scripts.html
    %}
  </body>
</html>
