---
---
<!DOCTYPE html>
<html lang="en">
  <head>
    {% include head.html %}
  </head>

  <body>
    {% include header.html %}

    <div class="event-container">
      <div class="banner">
        <img src="/images/Checkmate-Park-1000x300.jpg" alt="Event Banner" />
      </div>

      <div class="text-container">
        <div class="event-header">
          <h1 class="event-title">Checkmate Park</h1>
        </div>

        <div class="date-time-container">
          <div class="date-time">
            <span class="date">9th March</span>
            <span class="separator"> | </span>
            <span class="time">10:00 AM - 1:00 PM</span>
          </div>
        </div>
        <br />

        <div class="event-section">
          <h2>Event Details:</h2>
          <p>
            In a unique collab between Bangalore Chess Club, Spinny and
            Chesscom: We are proud to bring to you,
            <strong style="color: #cc5500">Checkmate Park!</strong>

            Super fun chess in the Spinny Park in a new and exciting format!
          </p>
        </div>

        <div class="event-section">
          <h2>What's Included:</h2>
          <ul>
            <li>3 Hours of <strong>Exciting Chess</strong></li>
            <li>Food and Beverage</li>
            <li>
              <strong style="color: #cc5500">Certificates and Prizes</strong> to
              the Winners
            </li>
          </ul>
        </div>

        <div class="event-section">
          <h2>Game Variations:</h2>
          <ul>
            <li>
              <strong>Standard Chess:</strong> 5 Rounds of Swiss Chess followed
              by a Semi Final and Finale! All games will be 5+3 Blitz
            </li>
          </ul>
        </div>

        <div class="location-section">
          <div class="location-details">
            <h2>Event Location</h2>
            <p>
              <span class="cafe-name">Spinny Park</span><br />Jala Hobli,
              Airport Road, Yelahanka, Bengaluru, India
            </p>
          </div>
          <a
            href="https://maps.app.goo.gl/1UUhvinQ9gzfMpwWA"
            target="_blank"
            class="google-map-link"
            >View on Google Maps</a
          >
        </div>
      </div>
    </div>

    {% include bottom.html %} {% include footer.html %} {% include scripts.html
    %}
  </body>
</html>
