---
---

<!DOCTYPE html>
<html lang="en">
  {% include head.html %} {% include ga.html %}

  <body>
    {% include header.html %}

    <div class="event-container">
      <div class="banner">
        <img src="/images/chessconnect_26052024.png" alt="Event Banner" />
      </div>

      <div class="text-container">
        <div class="event-header">
          <h1 class="event-title">Chess Connect: Making Chess Fun</h1>
        </div>

        <div class="date-time-container">
          <div class="date-time">
            <span class="date">26th May</span>
            <span class="separator"> | </span>
            <span class="time">10:00 AM - 3:30 PM</span>
          </div>
        </div>
        <br />

        <div class="event-section">
          <h2>Event Details:</h2>
          <p>
            Join us at RMZ Infinity, Bennigana Halli for our next chess meetup
            for a fantastic chess spirit! <br />Whether you're a seasoned player
            or just discovering your love for the game, come embrace the thrill
            of chess, forge new connections, and make every move count.
            <br />Let's bring the chessboard to and continue our journey of
            checkmates and camaraderie!
          </p>
        </div>

        <div class="event-section">
          <h2>What's Included:</h2>
          <ul>
            <!--                <li class="highlight">Food and Beverage worth ₹150</li>-->
            <li>5 Hours of <strong>Rapid Chess</strong> (Format 10+5)</li>
            <li>
              <strong style="color: #cc5500">Special Prizes </strong>for the Top
              3 Players
            </li>
            <li>
              Chance to Win a
              <strong style="color: #cc5500"
                >Chess.com Diamond Membership </strong
              >through Lucky Draw
            </li>
          </ul>
        </div>
        <div class="event-section">
          <h2>Schedule:</h2>
          <ul>
            <li>Registration and Player Briefing (10:00 AM)</li>
            <li>Round 1 (10:15 AM)</li>
            <li>Round 2 (10:50 AM)</li>
            <li>Round 3 (11:25 AM)</li>
            <li>Round 4 (12:00 PM)</li>
            <li><strong>Lunch Break (12:35 PM)</strong></li>
            <li>Round 5 (1:20 PM)</li>
            <li>Round 6 (1:55 PM)</li>
            <li>Round 7 (2:30 PM)</li>
          </ul>
        </div>

        <div class="event-section">
          <h2>Game Variations:</h2>
          <ul>
            <li>
              <strong>Casual Standard Chess (Swiss Format):</strong> Immerse
              yourself in the world of traditional chess in an exhilarating
              Swiss Format tournament. Over 6-7 rounds, face opponents of
              similar skill levels, and enjoy the games with a mix of banter and
              a laid-back vibe. It's not just about winning, but about the
              shared love for the game and the camaraderie that makes every move
              memorable.
            </li>
            <!--                <li><strong>Hand & Brain Chess:</strong> Team up with a partner in this intriguing chess variant where one player becomes the "Brain" and selects a piece type to be moved, while the other player becomes the "Hand" and must execute the chosen moves. It's a test of teamwork, strategy, and communication.</li>-->
            <!--                <li><strong>Bughouse Chess (Supply Chess):</strong> Brace yourselves for the fast-paced action of Bughouse Chess. Work with a teammate on two chessboards, share captured pieces, and unleash your combined tactical prowess. It's a dynamic chess experience like no other.</li>-->
          </ul>
        </div>

        <!--        <div class="event-section">-->
        <!--            <h2>Is Chess Experience Required?</h2>-->
        <!--            <p>Absolutely not! Whether you're a beginner or an experienced player, "Coffee and Checkmate" welcomes everyone. This is an opportunity to have fun, learn from others, and experience chess in its various forms.</p>-->
        <!--        </div>-->

        <div class="location-section">
          <div class="location-details">
            <h2>Event Location</h2>
            <p>
              <span class="cafe-name">The Market Place</span><br />Ground floor,
              RMZ Infinity, Bennigana Halli, Bengaluru, India
            </p>
          </div>
          <a
            href="https://maps.app.goo.gl/h9RUy24Z9ddmhryx5"
            target="_blank"
            class="google-map-link"
            >View on Google Maps</a
          >
        </div>

      </div>
    </div>


    {% include bottom.html %} {% include footer.html %} {% include scripts.html
    %}
  </body>
</html>
