<!DOCTYPE html>
<html lang="en">
{% include head3.html %}

  {% include ga.html %}

  <body>
    {% include header.html %}

    

    <div class="event-container">
      <div class="banner">
        <img src="images/chessconnect_02062024.png" alt="Event Banner" />
      </div>

      <div class="text-container">
        <div class="event-header">
          <h1 class="event-title">Chess Connect: Team Battle</h1>
        </div>

        <div class="date-time-container">
          <div class="date-time">
            <span class="date">2nd June</span>
            <span class="separator"> | </span>
            <span class="time">10:00 AM - 1:00 PM</span>
          </div>
        </div>
        <br />

        <div class="event-section">
          <h2>Event Details:</h2>
          <p>
            Join us for the next edition of Chess Connect, this time with a
            thrilling team twist! <br />Whether you're an experienced player or
            a newcomer, come experience the excitement of team-based chess, make
            new friends, and enjoy a day of strategic fun.
          </p>
        </div>

        <div class="event-section">
          <h2>Event Highlights</h2>
          <ul>
            <li>
              <span class="highlight">Team Format:</span> Teams of 4 players
              each.
            </li>
            <li>
              <span class="highlight">Swiss Style:</span> A Swiss-system
              tournament to ensure exciting matchups.
            </li>
            <li>
              <span class="highlight">Individual Registration:</span> Don't have
              a team? Register individually, and we'll help you find one!
            </li>
            <li>
              <span class="highlight">Prizes:</span> Attractive BCC goodies for
              top teams.
            </li>
            <li>
              <span class="highlight">Game Format:</span> Swiss Team Blitz Chess
              (Format 5+3)
            </li>
          </ul>
        </div>

        <div class="event-section">
          <h2>Game Variations:</h2>
          <ul>
            <li>
              <strong>Swiss Team Chess (Teams of 4):</strong> Engage in a
              Swiss-format tournament designed for teams of four. Over 6-7
              rounds, your team will compete against others of similar skill
              levels, fostering a sense of camaraderie and team spirit. It’s not
              just about winning but enjoying the game and making every move
              count with your team.
            </li>
          </ul>
        </div>

        <div class="event-section">
          <h2>Registration Details:</h2>
          <p>
            Individual registration is available. Players will be grouped into
            teams of four based on their skill levels, ensuring balanced and
            exciting matchups.
          </p>
        </div>

        <div class="location-section">
          <div class="location-details">
            <h2>Event Location</h2>
            <p>
              <span class="cafe-name">Underline Center</span><br />3rd Floor,
              above Blue Tokai, Defence Colony, Domlur, Indiranagar, Bengaluru
            </p>
          </div>
          <a
            href="https://maps.app.goo.gl/WEwtYc4PkRMKV8qW7"
            target="_blank"
            class="google-map-link"
            >View on Google Maps</a
          >
        </div>

        <div class="button-container">
          <div class="book-now-button-container">
            <form>
              <script
                src="https://checkout.razorpay.com/v1/payment-button.js"
                data-payment_button_id="pl_OERicQlsMv7BbG"
                async
              ></script>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="fixed-footer">
      <div class="footer-price"><strong>PRICE ₹250</strong></div>
      <form>
        <script
          src="https://checkout.razorpay.com/v1/payment-button.js"
          data-payment_button_id="pl_OERicQlsMv7BbG"
          async
        ></script>
      </form>
    </div>



    {% include bottom.html %}



    {% include footer.html %} {% include scripts.html %}
  </body>
</html>
