---
---

<!DOCTYPE html>
<html lang="en">
  <head>
    {% include head.html %}
  </head>

  <body>
    {% include header.html %}

    <div class="event-container">
      <div class="banner">
        <img src="/images/ChessQuiz_30032024.jpeg" alt="Event Banner" />
      </div>

      <div class="text-container">
        <div class="event-header">
          <h1 class="event-title">Chess Trivia Quiz</h1>
        </div>

        <div class="date-time-container">
          <div class="date-time">
            <span class="date">30th March</span>
            <span class="separator"> | </span>
            <span class="time">6:00 PM - 7:00 PM</span>
          </div>
        </div>
        <br />

        <div class="event-section">
          <h2>Event Details:</h2>
          <p>
            Join us for an exciting Chess Trivia Quiz event, where your
            knowledge of chess will be put to the test! Get ready to challenge
            your mind and have fun with fellow chess enthusiasts.
          </p>
        </div>

        <div class="event-section">
          <h2>What's Included:</h2>
          <ul>
            <li class="highlight">Food and Beverage worth ₹200</li>
            <li>Chance to win some exciting Prizes</li>
          </ul>
        </div>

        <div class="event-section">
          <h2>Format:</h2>
          <p>
            <strong class="highlight"
              >Each team consists of 2 participants</strong
            >. This Chess Trivia Quiz event will follow a specific format to
            ensure a fair and engaging competition:
          </p>

          <h3 class="round-heading">Round 1:</h3>
          <ul>
            <li>10 Questions with Audio/Visual aids displayed on a TV.</li>
            <li>
              Participants individually write their answers for all questions.
            </li>
            <li>
              Scoring: 10 points for each correct answer, with no negative
              marking.
            </li>
            <li>
              The top 5 teams with the highest scores advance to the next round.
            </li>
          </ul>

          <h3 class="round-heading">Round 2:</h3>
          <ul>
            <li>Another set of 10 Questions with Audio/Visual aids.</li>
            <li>Questions are directed to one team at a time.</li>
            <li>
              Scoring:
              <ul>
                <li>10 points for correctly answered directed questions.</li>
                <li>
                  Pounce allowed: 10 points for correct answers, but -10 points
                  for incorrect answers.
                </li>
                <li>
                  Pass allowed if no one pounced: 10 points for correct answers,
                  with no penalty for incorrect answers.
                </li>
              </ul>
            </li>
          </ul>
        </div>

        <div class="location-section">
          <div class="location-details">
            <h2>Event Location</h2>
            <p>
              <span class="cafe-name">Cafe Azzure</span><br />13th Cross
              Road,27th Main Rd, 1st Sector, HSR Layout, Bengaluru
            </p>
          </div>
          <a
            href="https://maps.app.goo.gl/A2ftKRaKBcwTztgF9"
            target="_blank"
            class="google-map-link"
            >View on Google Maps</a
          >
        </div>
      </div>
    </div>

    {% include bottom.html %} {% include footer.html %} {% include scripts.html
    %}
  </body>
</html>
