---
title: "Chess Connect: Making Chess Fun"
location: the-market-place
---
<!DOCTYPE html>
<html lang="en">
  {% include head.html %}

  <body>
    {% include header.html %}

    <div class="event-container">
      <div class="banner">
        <img src="/images/chessconnect_28042024.png" alt="Event Banner" />
      </div>

      <div class="text-container">
        <div class="event-header">
          <h1 class="event-title">{{page.title}}</h1>
        </div>

        <div class="date-time-container">
          <div class="date-time">
            <span class="date">28th April</span>
            <span class="separator"> | </span>
            <span class="time">10:00 AM - 3:30 PM</span>
          </div>
        </div>
        <br />

        <div class="event-section">
          <h2>Event Details:</h2>
          <p>
            Join us at RMZ EcoWorld, Bellandur for our next chess meetup for a
            fantastic chess spirit! <br />Whether you're a seasoned player or
            just discovering your love for the game, come embrace the thrill of
            chess, forge new connections, and make every move count. <br />Let's
            bring the chessboard to and continue our journey of checkmates and
            camaraderie!
          </p>
        </div>

        <div class="event-section">
          <h2>What's Included:</h2>
          <ul>
            
            <li>5 Hours of <strong>Rapid Chess</strong> (Format 10+5)</li>
            <li>
              <strong style="color: #cc5500">Special Prizes </strong>for the Top
              3 Players
            </li>
            <li>
              Chance to Win a
              <strong style="color: #cc5500"
                >Chess.com Diamond Membership </strong
              >through Lucky Draw
            </li>
          </ul>
        </div>
        <div class="event-section">
          <h2>Schedule:</h2>
          <ul>
            <li>Registration and Player Briefing (10:00 AM)</li>
            <li>Round 1 (10:15 AM)</li>
            <li>Round 2 (10:50 AM)</li>
            <li>Round 3 (11:25 AM)</li>
            <li>Round 4 (12:00 PM)</li>
            <li><strong>Lunch Break (12:35 PM)</strong></li>
            <li>Round 5 (1:20 PM)</li>
            <li>Round 6 (1:55 PM)</li>
            <li>Round 7 (2:30 PM)</li>
          </ul>
        </div>

        <div class="event-section">
          <h2>Game Variations:</h2>
          <ul>
            <li>
              <strong>Casual Standard Chess (Swiss Format):</strong> Immerse
              yourself in the world of traditional chess in an exhilarating
              Swiss Format tournament. Over 6-7 rounds, face opponents of
              similar skill levels, and enjoy the games with a mix of banter and
              a laid-back vibe. It's not just about winning, but about the
              shared love for the game and the camaraderie that makes every move
              memorable.
            </li>
            
            
          </ul>
        </div>

        
        
        
        

        {% include locations.html %}
      </div>
    </div>

    {% include bottom.html %} {% include footer.html %} {% include scripts.html
    %}
  </body>
</html>
