---
title: "Coffee and Checkmate: A Chess Meetup with a Twist"
location: azzure-mg
variations:
- standard-knockout
- hand&brain
- bughouse
layout: event
---
<!DOCTYPE html>
<html lang="en">
  {% include head2.html %}

  <body>
    {% include header.html %}

    <div class="event-container">
      <div class="banner">
        <img src="/images/coffee_and_checkmate_mg.jpeg" alt="Event Banner" />
      </div>

      <div class="text-container">
        <div class="event-header">
          <h1 class="event-title">{{page.title}}</h1>
        </div>

        <div class="date-time-container">
          <div class="date-time">
            <span class="date">18 Feb</span>
            <span class="separator"> | </span>
            <span class="time">10:00 AM - 12:30 PM</span>
          </div>
        </div>
        <br />

        {% include coffee-checkmate-common.html %}

        <div class="event-section">
          <h2>What's Included:</h2>
          <ul>
            <li class="highlight">Food and Beverage worth ₹150</li>
            <li>2.5 Hours of 3 Fun-filled Chess Variants</li>
          </ul>
        </div>

        {% include variations.html %} {% include no-experience.html %}

        {% include locations.html %}
      </div>
    </div>

    {% include bottom.html %} {% include footer.html %} {% include scripts.html
    %}
  </body>
</html>
