---
title: "Coffee and Checkmate: A Chess Meetup with a Twist"
---

<!DOCTYPE html>
<html lang="en">
  {% include head2.html %} {% include ga.html %}

  <body>
    {% include header.html %}

    <div class="event-container">
      <div class="banner">
        <img src="/images/coffee_and_checkmate_mg.jpeg" alt="Event Banner" />
      </div>

      <div class="text-container">
        <div class="event-header">
          <h1 class="event-title">{{page.title}}</h1>
        </div>

        <div class="date-time-container">
          <div class="date-time">
            <span class="date">20th July</span>
            <span class="separator"> | </span>
            <span class="time">10:00 AM - 12:30 PM</span>
          </div>
        </div>
        <br />

        {% include coffee-checkmate-common.html %}

        <div class="event-section">
          <h2>What's Included:</h2>
          <ul>
            <li class="highlight">Food and Beverage worth ₹150</li>
            <li>2.5 Hours of many Fun-filled Chess Variants</li>
          </ul>
        </div>

        {% include variations.html %} {% include no-experience.html %}

        <div class="location-section">
          <div class="location-details">
            <h2>Event Location</h2>
            <p>
              <span class="cafe-name">Cafe Azzure</span><br />MG Road, Shanthala
              Nagar, Shivaji Nagar, Bengaluru, India
            </p>
          </div>
          <a
            href="https://maps.app.goo.gl/1hx85WPZDR45rTNE7"
            target="_blank"
            class="google-map-link"
            >View on Google Maps</a
          >
        </div>

        <div class="button-container">
          <div class="book-now-button-container">
            <form>
              <script
                src="https://checkout.razorpay.com/v1/payment-button.js"
                data-payment_button_id="pl_OT5SsIPvJBThGj"
                async
              ></script>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="fixed-footer">
      <div class="footer-price"><strong>PRICE ₹300</strong></div>
      <form>
        <script
          src="https://checkout.razorpay.com/v1/payment-button.js"
          data-payment_button_id="pl_OT5SsIPvJBThGj"
          async
        ></script>
      </form>
    </div>

    {% include bottom.html %} {% include footer.html %} {% include scripts.html
    %}
  </body>
</html>
