---
---

<!DOCTYPE html>
<html lang="en">
  <head>
    {% include head.html %}
  </head>

  {% include ga.html %}

  <body>
    {% include header.html %}

    <div class="event-container">
      <div class="banner">
        <img src="/images/fresstyle_chess_poster.jpeg" alt="Event Banner" />
      </div>

      <div class="text-container">
        <div class="event-header">
          <h1 class="event-title">
            FreeStyle Chess:<br />
            OTB Arena | Simul with GM Kannappan
          </h1>
        </div>

        <div class="date-time-container">
          <div class="date-time">
            <span class="date">25th Feb</span>
            <span class="separator"> | </span>
            <span class="time">5:00 PM - 8:00 PM</span>
          </div>
        </div>
        <br />

        <div class="event-section">
          <h2>Event Details:</h2>
          <p>
            An evening full of chess! Experience the arena format of chess over
            the board (OTB), where you strive to play as many games as possible
            within the given time to amass the most points! What's more? You get
            a chance to play a simul against
            <strong style="color: #cc5500">GM Priyadharshan Kannappan</strong>.
            You don't want to miss this!
          </p>
        </div>

        <div class="event-section">
          <h2>What's Included:</h2>
          <ul>
            <li>2-3 Hours of Blitz Chess (Format 5+3)</li>
            <li class="highlight">
              Chance to play Simul with GM Kannappan Priyadharshan
            </li>
          </ul>
        </div>
        <div class="event-section">
          <h2>Qualification for Simul:</h2>
          <ul>
            <li>
              Secure a spot in the <strong>top 5</strong> rankings of the Arena
              Tournament
            </li>
            <li>
              5 participants will be
              <strong>randomly selected through a lucky draw !</strong>
            </li>
          </ul>
        </div>

        <div class="event-section">
          <h2>Description:</h2>
          <ul>
            <li>
              <strong>Casual Standard Chess (Arena Format):</strong>
              Welcome to our Arena Format chess tournament, where the excitement
              never stops! In this dynamic event, participants engage in blitz
              matches against opponents of all skill levels. With the
              flexibility to join or leave at any time, and matches happening
              continuously, players can jump in for a game whenever they please.
              Whether you're a seasoned player or just starting out, the Arena
              Format offers an accessible and inclusive environment for everyone
              to enjoy the thrill of chess. Join us for a fast-paced and
              exhilarating chess experience where every move matters, and
              victory awaits the bold!
            </li>
          </ul>
        </div>

        <div class="location-section">
          <div class="location-details">
            <h2>Event Location</h2>
            <p>
              <span class="cafe-name">The Market Place</span><br />RMZ EcoWorld
              30-33, Bellandur, Bengaluru, India
            </p>
          </div>
          <a
            href="https://maps.app.goo.gl/hDa666oJ8e7krVbHA"
            target="_blank"
            class="google-map-link"
            >View on Google Maps</a
          >
        </div>

        
      </div>
    </div>


    {% include bottom.html %} {% include footer.html %} {% include scripts.html
    %}
  </body>
</html>
