description: |
  Bangalore Chess Club is the largest offline Chess Community in India
  where we aim to promote chess as a non competitive sport across ages
  and skill levels.

  Always striving to make chess fun.
email: bangalorechessclubofficial@gmail.com
plugins:
  - jekyll-sitemap