description: |
  Bangalore Chess Club is the largest offline Chess Community in India
  where we aim to promote chess as a non competitive sport across ages
  and skill levels.

  Always striving to make chess fun.
email: bangalorechessclubofficial@gmail.com
plugins:
  - jekyll-sitemap
sass:
  # Change to compressed once stable
  style: expanded
  sourcemap: development
  quiet_deps: true
exclude:
  - README.md
  - assets/icons/config.json
  - assets/icons/demo.html
  - assets/icons/README.txt
defaults:
  - scope:
      path: "images/gallery/*"
    values:
      gallery: true