---
---
<!DOCTYPE html>
<html lang="en">
  {% include head2.html %} {% include ga.html %}

  <body>
    {% include header.html %}

    <div class="event-container">
      <div class="banner">
        <img src="/images/coffee_and_checkmate_mg.jpeg" alt="Event Banner" />
      </div>

      <div class="text-container">
        <div class="event-header">
          <h1 class="event-title">
            Coffee and Checkmate: A Chess Meetup with a Twist
          </h1>
        </div>

        <div class="date-time-container">
          <div class="date-time">
            <span class="date">20th July</span>
            <span class="separator"> | </span>
            <span class="time">10:00 AM - 12:30 PM</span>
          </div>
        </div>
        <br />

        <div class="event-section">
          <h2>Event Details:</h2>
          <p>
            Join us for an exciting gathering of chess aficionados where we'll
            be combining our passion for the game with the pleasure of sipping
            on freshly brewed coffee. This event is all about camaraderie,
            friendly competition, and enjoying the intellectual challenge that
            chess brings.
          </p>
        </div>

        <div class="event-section">
          <h2>What's Included:</h2>
          <ul>
            <li class="highlight">Food and Beverage worth ₹150</li>
            <li>2.5 Hours of many Fun-filled Chess Variants</li>
          </ul>
        </div>

        <div class="event-section">
          <h2>Game Variations:</h2>
          <ol>
            <li>
              <strong>Casual Standard Chess (Knockout Format):</strong> Step
              into the world of traditional chess and compete in an exhilarating
              knockout format. Test your skills against fellow enthusiasts and
              see who emerges as the ultimate chess champion.
            </li>
            <li>
              <strong>Hand & Brain Chess:</strong> Team up with a partner in
              this intriguing chess variant where one player becomes the "Brain"
              and selects a piece type to be moved, while the other player
              becomes the "Hand" and must execute the chosen moves. It's a test
              of teamwork, strategy, and communication.
            </li>
            <li>
              <strong>Bughouse Chess (Supply Chess):</strong> Brace yourselves
              for the fast-paced action of Bughouse Chess. Work with a teammate
              on two chessboards, share captured pieces, and unleash your
              combined tactical prowess. It's a dynamic chess experience like no
              other.
            </li>
          </ol>
        </div>

        <div class="event-section">
          <h2>Is Chess Experience Required?</h2>
          <p>
            Absolutely not! Whether you're a beginner or an experienced player,
            "Coffee and Checkmate" welcomes everyone. This is an opportunity to
            have fun, learn from others, and experience chess in its various
            forms.
          </p>
        </div>

        <div class="location-section">
          <div class="location-details">
            <h2>Event Location</h2>
            <p>
              <span class="cafe-name">Cafe Azzure</span><br />MG Road, Shanthala
              Nagar, Shivaji Nagar, Bengaluru, India
            </p>
          </div>
          <a
            href="https://maps.app.goo.gl/1hx85WPZDR45rTNE7"
            target="_blank"
            class="google-map-link"
            >View on Google Maps</a
          >
        </div>

        <div class="button-container">
          <div class="book-now-button-container">
            <!--                <a href="#" class="book-now-button">Book Your Spot Now</a>-->
            <form>
              <script
                src="https://checkout.razorpay.com/v1/payment-button.js"
                data-payment_button_id="pl_OT5SsIPvJBThGj"
                async
              ></script>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="fixed-footer">
      <div class="footer-price"><strong>PRICE ₹300</strong></div>
      <form>
        <script
          src="https://checkout.razorpay.com/v1/payment-button.js"
          data-payment_button_id="pl_OT5SsIPvJBThGj"
          async
        ></script>
      </form>
    </div>

    {% include bottom.html %} {% include footer.html %} {% include scripts.html
    %}
  </body>
</html>
