<section class="info_section layout_padding2">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-lg-4 info_col">
        <div class="info_contact">
          <h4>Address</h4>
          <div class="contact_link_box">
            <span class="icon icon-map-marker"> Bangalore, India </span>
            <a href="mailto:{{site.email}}" class="icon icon-envelope">
              <span> {{site.email}} </span>
            </a>
          </div>
        </div>
        {% include social-icons.html %}
      </div>
      <div class="col-md-6 col-lg-4 info_col">
        <div class="info_detail">
          <h4>Info</h4>
          <p>{{site.description}}</p>
        </div>
      </div>
      <div class="col-md-3 col-lg-2 mx-auto info_col">
        <div class="info_link_box">
          <h4>Links</h4>
          <div class="info_links">
            <a class="active" href="/"> Home </a>
            <a class="" href="/#events_section"> Events </a>
            <a class="" href="/#spotlight"> Spotlight </a>
            <a href="/gallery/"> Gallery </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
