<section class="info_section layout_padding2">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-lg-4 info_col">
        <div class="info_contact">
          <h4>Contact Us</h4>
          <div class="contact_link_box">
            <a href="tel:+919187212641" class="icon icon-phone">
              <span>+91 91872 12641 (Whatsapp Only)</span>
            </a>
            <a href="mailto:{{site.email}}" class="icon icon-envelope">
              <span>{{site.email}}</span>
            </a>
            <span class="icon icon-map-marker">Sreenidhi Lakeview, JP Nagar Phase 7, Bengaluru – 560078</span>
          </div>
        </div>
        {% include social-icons.html %}
      </div>
      <div class="col-md-6 col-lg-4 info_col">
        <div class="info_detail">
          <h4>Info</h4>
          <p>{{site.description}}</p>
        </div>
      </div>
      <div class="col-md-3 col-lg-4 mx-auto info_col">
        <div class="info_link_box">
          <h4>Quick Links</h4>
          <div class="info_links">
            <a href="/">Home</a>
            <a href="/#events_section">Upcoming Events</a>
            <a href="/events/">All Events</a>
            <a href="/gallery/">Gallery</a>
            <a href="/contact/">Contact Us</a>
            <a href="/terms-and-conditions/">Terms &amp; Conditions</a>
            <a href="/privacy-policy/">Privacy Policy</a>
            <a href="/refund-policy/">Refund &amp; Cancellation</a>
            <a href="/shipping-policy/">Shipping Policy</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
