.event-container {
  max-width: 1000px;
  margin: 50px auto;
  overflow: hidden;
  border-radius: 15px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  background: #fff;
}

.banner {
  position: relative;
  overflow: hidden;
  border-radius: 15px 15px 0 0;
}
.banner img {
  width: 100%;
  height: 100%;
  object-fit: fill;
  object-position: center;
}

.text-container {
  padding: 20px;
}

.event-header {
  margin-bottom: 20px;
  text-align: center;
}

.event-header .event-title {
  font-size: 3.5em;
  margin-bottom: 10px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-family: "Roboto", sans-serif; /* Choose a modern sans-serif font */
  display: inline-block;
  background: linear-gradient(
    45deg,
    #3498db,
    #e74c3c
  ); /* Gradient from blue to red */
  -webkit-background-clip: text; /* Clip the background to the text */
  color: transparent; /* Make the text transparent to show the background gradient */
  position: relative;
}

.event-description {
  font-size: 18px;
  color: #555;
  line-height: 1.6;
}

.event-section {
  background-color: #f7f7f7;
  padding: 20px;
  border-radius: 15px;
  margin-bottom: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.event-section h2 {
  color: #1166ac;
  margin-bottom: 10px;
}

ul,
ol {
  margin: 10px 0;
  padding-left: 20px;
}

.book-now-button-container a {
  margin: 5px;
  text-align: center;
  width: 400px;
}

.book-now-button-container {
  text-align: center;
  margin-top: 20px;
}

.book-now-button {
  display: inline-block;
  padding: 15px 30px;
  font-size: 20px;
  text-decoration: none;
  color: #fff;
  border-radius: 5px;
  background: linear-gradient(45deg, #ff7e5f, #feb47b);
  transition: background 0.3s, transform 0.3s;
  box-shadow: 0 5px 10px rgba(255, 126, 95, 0.2);
}

.book-now-button:hover {
  background: linear-gradient(45deg, #feb47b, #ff7e5f);
  transform: scale(1.05);
}

.event-image {
  width: 100%;
  max-height: 400px;
  object-fit: cover;
  border-radius: 15px;
  margin-top: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.location-section {
  background-color: #f7f7f7;
  padding: 20px;
  border-radius: 15px;
  margin-bottom: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.location-section h2 {
  color: #1166ac;
  margin-bottom: 10px;
}

.location-details {
  flex-grow: 1;
  margin-right: 20px;
}

.cafe-name {
  font-size: 1.2em;
  font-weight: bold;
  color: #cc5500;
}

.address {
  color: #555;
  margin-bottom: 15px;
}

.google-map-link {
  display: inline-block;
  padding: 12px 20px;
  font-size: 18px;
  text-decoration: none;
  color: #fff;
  border-radius: 5px;
  background: #1166ac;
  transition: background 0.3s, transform 0.3s;
  box-shadow: 0 5px 10px rgba(17, 102, 172, 0.2);
}

.google-map-link:hover {
  background: #4caf50;
  transform: scale(1.05);
}
/* Add or update styles as needed */

.content-container {
  padding: 20px;
}

.date-time-container {
  text-align: center;
  margin-top: 20px;
}

.date-time {
  display: inline-block;
  background-color: #f7f7f7;
  padding: 8px 15px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.date-time .date {
  font-size: 1.2em;
  color: #cc5500;
  font-weight: bold;
}

.date-time .separator {
  margin: 0 10px;
  color: #555;
}

.date-time .time {
  font-size: 1.2em;
  color: #1166ac;
  font-weight: bold;
}

/* Additional styling for the event description */
.event-description {
  background-color: #f7f7f7;
  padding: 20px;
  border-radius: 15px;
  margin-top: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.event-section .highlight {
  font-weight: bold;
  color: #cc5500; /* Highlight color */
}

@media only screen and (max-width: 600px) {
  /* Adjustments for mobile screens */
  .event-container {
    border-radius: 15px;
  }

  .event-header {
    padding: 15px;
  }

  .event-header .event-title {
    font-size: 2em;
    margin-bottom: 5px;
  }

  .date-time-container {
    text-align: center;
    margin-top: 10px;
  }

  .date-time {
    display: block;
    color: #fff;
    padding: 8px 15px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }

  .date-time .date,
  .date-time .separator,
  .date-time .time {
    font-size: 1em;
  }

  .event-section,
  .location-section {
    padding: 15px;
    margin-bottom: 15px;
  }

  .event-section h2,
  .location-section h2 {
    font-size: 1.8em;
    margin-bottom: 8px;
  }

  .event-description {
    font-size: 16px;
  }

  .book-now-button {
    font-size: 18px;
    padding: 12px 25px;
  }

  .google-map-link {
    padding: 10px 15px;
    font-size: 16px;
  }
  .google-map-link {
    display: block;
    text-align: center;
    width: 50%;
    padding: 15px 0; /* Increase padding for better touch interaction */
    font-size: 16px; /* Adjust font size for better readability */
  }
  .book-now-button-container a {
    width: 250px;
  }
}
