<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta
    name="viewport"
    content="width=device-width, initial-scale=1, shrink-to-fit=no"
  />
  
  <meta name="author" content="Bangalore Chess Club" />
  <link rel="shortcut icon" href="/images/favicon.png" type="" />
  {% if page.title and page.layout == "event" %}
  <title>{{page.title}} - {{page.layout == "event" | date:"%d %B"}} | Bangalore Chess Club</title>
  {% elsif page.title %}
  <title>{{page.title}} | Bangalore Chess Club</title>
  {% else %}
  <title>Bangalore Chess Club</title>
  {% endif %}
  <link rel="stylesheet" type="text/css" href="/assets/bootstrap/css/bootstrap.min.css" />

  <!-- icons generated via fontello to match existing font-awesome styles + names -->
  <link href="/assets/icons/css/fontello.css" rel="stylesheet" />
  <link href="/css/style.css" rel="stylesheet" />
  <!-- Open Graph Tags -->

  <meta property="og:url" content="{{page.url | absolute_url}}">
  <meta property="og:type" content="website">
  {% if page.layout == "event" %}
  <meta name="keywords" content="bangalore, chess, club, event, {{page.startsAt|date:'%Y-%m-%d'}}, {{page.startsAt|date:'%b %d %Y'}}" />
  <meta property="og:description" content="{{page.title}} - {{page.startsAt | date:'%Y %m %d'}}. Organized by Bangalore Chess Club. {{page.content | truncatewords: 50}}">
  {% else %}
  <meta name="keywords" content="bangalore, chess, club" />
  <meta property="og:description" content="{{site.description}}">
  <meta name="description" content="{{site.description}}" />
  {% endif %}
  {% if page.image %}
  <meta property="og:image" content="{{page.image|prepend:'images/' | absolute_url}}">
  {% endif %}
</head>
