<!-- Basic -->
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<!-- Mobile Metas -->
<meta
  name="viewport"
  content="width=device-width, initial-scale=1, shrink-to-fit=no"
/>
<!-- Site Metas -->
<meta name="keywords" content="bangalore, chess, club" />
<meta name="description" content="{{site.description}}" />
<meta name="author" content="Bangalore Chess Club" />
<link rel="shortcut icon" href="images/favicon.png" type="" />
<title>Bangalore Chess Club</title>
<link rel="stylesheet" type="text/css" href="/assets/bootstrap/css/bootstrap.min.css" />

<!-- icons generated via fontello to match existing font-awesome styles + names -->
<link href="/assets/icons/css/fontello.css" rel="stylesheet" />

<!-- Custom styles for this template -->
<link href="/css/style.css" rel="stylesheet" />
