<!-- jQery -->
<script type="text/javascript" src="/js/jquery-3.4.1.min.js"></script>
<!-- bootstrap js -->
<script type="text/javascript" src="/js/bootstrap.js"></script>
<!-- owl slider -->
<script
  type="text/javascript"
  src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"
></script>
<!-- custom js -->
<script type="text/javascript" src="/js/custom.js"></script>

<!-- https://github.com/paulirish/lite-youtube-embed for faster and lightweight youtube embeds -->
<link rel=stylesheet href="https://unpkg.com/lite-youtube-embed@0.3.2/src/lite-yt-embed.css" />
<script src="https://unpkg.com/lite-youtube-embed@0.3.2/src/lite-yt-embed.js"></script>

{% include ga.html %}