<div class="info_social">
  <a href="https://www.instagram.com/bangalorechessclub/">
    <i class="icon icon-instagram" aria-hidden="true"></i>
  </a>
  <a href="https://www.youtube.com/@bangalorechessclub">
    <i class="icon icon-youtube-play" aria-hidden="true"></i>
  </a>
  <a href="https://www.facebook.com/bangalorechessclub">
    <i class="icon icon-facebook" aria-hidden="true"></i>
  </a>
  <a href="https://chat.whatsapp.com/CtYnuwHq87ZD8d88fkwoPs">
    <i class="icon icon-whatsapp" aria-hidden="true"></i>
  </a>
  <a href="https://twitter.com/Blr_ChessClub">
    <i class="icon icon-twitter" aria-hidden="true"></i>
  </a>
  <a href="https://github.com/BlrChessClub/BCC-website">
    <i class="icon icon-github-circled" aria-hidden="true"></i>
  </a>
</div>