<div class="info_social">
  <a href="https://www.instagram.com/bangalorechessclub/">
    <i class="icon icon-instagram" aria-hidden="true"></i>
  </a>
  <a href="https://www.youtube.com/@bangalorechessclub">
    <i class="icon icon-youtube-play" aria-hidden="true"></i>
  </a>
  <a href="https://www.facebook.com/bangalorechessclub">
    <i class="icon icon-facebook" aria-hidden="true"></i>
  </a>
  <a href="https://chat.whatsapp.com/CtYnuwHq87ZD8d88fkwoPs">
    <i class="icon icon-whatsapp" aria-hidden="true"></i>
  </a>
  <a href="https://twitter.com/Blr_ChessClub">
    <i class="icon icon-twitter" aria-hidden="true"></i>
  </a>
  <a href="https://github.com/BlrChessClub/BCC-website">
    <i class="icon icon-github-circled" aria-hidden="true"></i>
  </a>
  <a href="#surprise" id="daily-puzzle" role=button 
    class="icon icon-king" aria-hidden="true"
    data-toggle="modal" data-target="#daily-puzzle-modal"
    >
  </a>
</div>
<!-- Easter Egg -->
<div class="modal fade" id="daily-puzzle-modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content" style="width:auto;background:url(/images/loading.gif) center center no-repeat;">
      <iframe 
        loading="lazy"
        src="https://lichess.org/training/frame?theme=brown&bg=light&pieceSet=gioco"
        style="width: 400px; height: 444px;"
        allowtransparency="true" frameborder="0">
      </iframe>
    </div>
  </div>
</div>