<div class="event-section">
  <h2>Game Variations:</h2>
  <ol>
    <li>
      <strong>Casual Standard Chess (Knockout Format):</strong> Step into the
      world of traditional chess and compete in an exhilarating knockout format.
      Test your skills against fellow enthusiasts and see who emerges as the
      ultimate chess champion.
    </li>
    <li>
      <strong>Hand & Brain Chess:</strong> Team up with a partner in this
      intriguing chess variant where one player becomes the "Brain" and selects
      a piece type to be moved, while the other player becomes the "Hand" and
      must execute the chosen moves. It's a test of teamwork, strategy, and
      communication.
    </li>
    <li>
      <strong>Bughouse Chess (Supply Chess):</strong> Brace yourselves for the
      fast-paced action of Bughouse Chess. Work with a teammate on two
      chessboards, share captured pieces, and unleash your combined tactical
      prowess. It's a dynamic chess experience like no other.
    </li>
  </ol>
</div>
