<div class="event-section sponsor">
    <h2>Looking to Upgrade your Chess Gear?</h2>
    <p>
        Enhance your chess experience with premium chess sets from Enterro Chess. Explore a variety of designs and styles to find the perfect fit for your game.
    </p>
    <p><strong>Exclusive Discounts:</strong></p>
    <ul>
        <li>Use coupon code <strong>BANGLORECHESS</strong> for a flat ₹100 discount on all products.</li>
        <li>Use coupon code <strong>BANGCHESS200</strong> for a flat ₹200 discount on purchases above ₹2500.</li>
    </ul>
    <p>
    <ul>
        <li><strong>Visit:</strong> <a href="https://enterro.in" target="_blank"> enterro.in</a></li>
        <li><strong>Email:</strong> <a href="mailto:info@enterro.in"> info@enterro.in</a> </li>
        <li><strong>Call:</strong> <a href="tel:+917889133065"> 7889133065</a></li>
    </ul>
    </p>
</div>
