<div class="event-section sponsor">
    <h2>Looking for Unique Customized Gifts?</h2>
    <p>
        Explore creative and personalized gifts from Make Any Gift (MAG), bringing ideas to life through custom 3D printing and unique designs.
    </p>
    <p>
        You can even get your own custom chess set designed and printed!
    </p>
    <p>
    <ul>
        <li><strong>Instagram:</strong> <a href="https://www.instagram.com/makeanygift" target="_blank">@makeanygift</a></li>
        <li><strong>Call:</strong> <a href="tel:+916360108121">63601 08121</a></li>
      </ul>
    </p>
</div>
