<div class="event-section sponsor">
    <h2>Looking for Custom 3D Printed Chess Sets?</h2>
    <p>
        Upgrade your chess experience with unique and creative 3D printed chess sets from Make Any Gift (MAG). Explore customized themed sets, creative designs, and exciting giveaways.
    </p>
    <p>
    <ul>
        <li><strong>Instagram:</strong> <a href="https://www.instagram.com/makeanygift" target="_blank">@makeanygift</a></li>
        <li><strong>Call:</strong> <a href="tel:+916360108121">63601 08121</a></li>
      </ul>
    </p>
</div>
