<div class="event-section sponsor">
    <h2>Looking to Upgrade your Chess Gear?</h2>
    <p>
        Enhance your chess experience with premium chess sets from Paramount Chess. Explore a variety of designs and styles to find the perfect fit for your game.
    </p>
    <p>
    <ul>
        <li><strong>Visit:</strong> <a href="https://www.paramountchess.com" target="_blank">paramountchess.com</a></li>
        <li><strong>Email:</strong> <a href="mailto:paramountchess100@gmail.com">paramountchess100@gmail.com</a> </li>
        <li><strong>Call:</strong> <a href="tel:+917043772271">7043772271</a></li>
      </ul>
    </p>
</div>