---
---
{% assign now = site.time | date:"%s" %}
{% assign eventStartTime = page.startsAt | date:"%s" %}
<!DOCTYPE html>
<html lang="en">
  {% include head.html %}

  <body>
    {% for locationId in page.location %}
    <script type="application/ld+json">
      {% include event-schema.json page=page locationId=locationId %}
    </script>
    {% endfor %}
    {% include header.html %}

    <div class="event-container">
      <div class="banner">
        <img src="/images/{{page.image}}" alt="Event Banner" />
      </div>
      <div class="text-container">
        <div class="event-header">
          <h1 class="event-title">{{page.title | newline_to_br}}</h1>
        </div>

        {% assign d = page.startsAt | date: "%-d"%}
        {% case d %}
        {% when 1 or 21 or 31 %}{% assign day =  d | append: "st" %}
        {% when 2 or 22 %}{% assign day =  d | append: "nd" %}
        {% when 3 or 23 %}{% assign day =  d | append: "rd" %}
        {% else %}{% assign day =  d | append: "th" %}
        {% endcase %}
        {% assign today = site.time | date: "%s" %}
        {% assign eventStartEpoch = page.startsAt | date: "%s" %}
      <script src="https://cdn.jsdelivr.net/npm/add-to-calendar-button@2" async defer></script>
        <div class="date-time-container">
          <div class="date-time">
            {%comment%}
            We show the year for past events, but not upcoming ones
            {% endcomment %}
            {% if eventStartEpoch < today %}
            <span class="date">{{day}} {{ page.startsAt | date: "%B %Y" }}</span>
            {% else %}
            <span class="date">{{day}} {{ page.startsAt | date: "%B" }}</span>
            {% endif %}
            <span class="separator"> | </span>
            <span class="time">{{page.startsAt | date:"%l:%M %p"}} - {{page.endsAt | date: "%l:%M %p"}}</span>
          </div>
        </div>
        <div style="float: right;"><add-to-calendar-button
  name="Bangalore Chess Club Events"
  options="'Apple', 'Google', 'iCal', 'Microsoft365', 'MicrosoftTeams', 'Outlook.com', 'Yahoo'"
  startDate="2024-01-01"
  timeZone="Asia/Kolkata"
  subscribe=true
  icsFile="{{'calendar.ics' | absolute_url}}"
  label="Add to Calendar"
></add-to-calendar-button></div>

{% comment %}
The following code is somewhat hacky, and can be moved to a Ruby Filter
later if we decide to allow Ruby in the codebase. It does two things:

1. Split the HTML for the document by <h2> tags, and then wrap it
   using div class=event-section.
2. Change all <code> tags to <mark> tags. This lets us use
   the simple `inline` syntax for highlighting text
{% endcomment %}

        
        {% assign c = content %}
        {% assign sections = c| split: "<h2" %}
        {% for section in sections %}
        {% assign s = section | replace:"<code","<mark"|replace:"</code>","</mark>" |strip %}
        {% unless s == "" %}
        <div class=event-section><h2
          {{s}}
        </div>
        {%endunless %}
        {% endfor %}

        {% include variations.html %}

        {% if page.beginnerFriendly %}
        <div class="event-section">
          <h2>Is Chess Experience Required?</h2>
          <p>
            Absolutely not! Whether you're a beginner or an experienced player, {{page.type}} 
            welcomes everyone. This is an opportunity to have fun, learn from
            others, and experience chess in its various forms.
          </p>
        </div>
        {% endif %}

        {% include locations.html %}

        {% if page.payment and eventStartTime > now %}

        <div class="button-container">
          <div class="book-now-button-container">
            {% include razorpay-payment.html id=page.payment.razorpay %}
          </div>
        </div>
        {% endif %}
      </div>

      
    </div>
    {% if page.payment and eventStartTime > now %}

    <div class="fixed-footer">
      <div class="footer-price"><strong>PRICE ₹{{page.payment.price}}</strong></div>
      {% include razorpay-payment.html id=page.payment.razorpay %}
    </div>
    {% endif %}

    {% include bottom.html %} {% include footer.html %} {% include scripts.html
    %}
  </body>
</html>
