---
---
{% assign now = site.time | date:"%s" %}
{% assign eventStartTime = page.startsAt | date:"%s" %}
<!DOCTYPE html>
<html lang="en">
  {% include head.html %}

  <body>
    {% for locationId in page.location %}
    <script type="application/ld+json">
      {
        "@context": "https://schema.org",
        "@type": "SocialEvent",
        "name": "{{page.title}} - Bangalore Chess Club",
        "startDate": "{{page.startsAt | date_to_xmlschema}}",
        "endDate": "{{page.endsAt | date_to_xmlschema}}",
        "eventAttendanceMode": "https://schema.org/OfflineEventAttendanceMode",
        "eventStatus": "https://schema.org/EventScheduled",
        "location": {
          "@type": "Place",
          "name": "{{site.data.locations[locationId].name}}",
          "address": "{{site.data.locations[locationId].address}}, Bengaluru, India"
        },
        "isAccessibleForFree": {% if page.payment.price %}false{% else %}true{% endif %},
        {% if page.payment.razorpay and page.payment.price %}
        "offers": [{
          "@type": "Offer",
          "price": "{{page.payment.price}}",
          "priceCurrency": "INR",
          "availability": "https://schema.org/InStock",
          "url": "https://razorpay.com/payment-button/{{page.payment.razorpay}}/view/"
        }],
        {% endif %}
        "organizer": {
          "@type": "Organization",
          "name": "Bangalore Chess Club",
          "url": "https://bangalorechessclub.in"
        },
        "keywords": ["bangalore chess club", "chess"],
        "image": "https://bangalorechessclub.in/images/{{page.image}}",
        "url": "{{page.url | absolute_url}}"
      }
    </script>
    {% endfor %}
    {% include header.html %}

    <div class="event-container">
      <div class="banner">
        <img src="/images/{{page.image}}" alt="Event Banner" />
      </div>
      <div class="text-container">
        <div class="event-header">
          <h1 class="event-title">{{page.title}}</h1>
        </div>

        {% assign d = page.startsAt | date: "%-d"%}
        {% case d %}
        {% when 1 or 21 or 31 %}{% assign day =  d | append: "st" %}
        {% when 2 or 22 %}{% assign day =  d | append: "nd" %}
        {% when 3 or 23 %}{% assign day =  d | append: "rd" %}
        {% else %}{% assign day =  d | append: "th" %}
        {% endcase %}
      
        <div class="date-time-container">
          <div class="date-time">
            <span class="date">{{day}} {{ page.startsAt | date: "%B" }}</span>
            <span class="separator"> | </span>
            <span class="time">{{page.startsAt | date:"%l:%M %p"}} - {{page.endsAt | date: "%l:%M %p"}}</span>
          </div>
        </div>



{% comment %}
The following code is somewhat hacky, and can be moved to a Ruby Filter
later if we decide to allow Ruby in the codebase. It does two things:

1. Split the HTML for the document by <h2> tags, and then wrap it
   using div class=event-section.
2. Change all <code> tags to <mark> tags. This lets us use
   the simple `inline` syntax for highlighting text
{% endcomment %}

        
        {% assign c = content %}
        {% assign sections = c| split: "<h2" %}
        {% for section in sections %}
        {% assign s = section | replace:"<code","<mark"|replace:"</code>","</mark>" |strip %}
        {% unless s == "" %}
        <div class=event-section><h2
          {{s}}
        </div>
        {%endunless %}
        {% endfor %}

        {% include variations.html %}

        {% if page.beginnerFriendly %}
        <div class="event-section">
          <h2>Is Chess Experience Required?</h2>
          <p>
            Absolutely not! Whether you're a beginner or an experienced player, {{page.type}} 
            welcomes everyone. This is an opportunity to have fun, learn from
            others, and experience chess in its various forms.
          </p>
        </div>
        {% endif %}

        {% include locations.html %}

        {% if page.payment and eventStartTime > now %}

        <div class="button-container">
          <div class="book-now-button-container">
            {% include razorpay-payment.html id=page.payment.razorpay %}
          </div>
        </div>
        {% endif %}
      </div>

      
    </div>
    {% if page.payment and eventStartTime > now %}

    <div class="fixed-footer">
      <div class="footer-price"><strong>PRICE ₹{{page.payment.price}}</strong></div>
      {% include razorpay-payment.html id=page.payment.razorpay %}
    </div>
    {% endif %}

    {% include bottom.html %} {% include footer.html %} {% include scripts.html
    %}
  </body>
</html>
